<footer class="footer">
    <div class="container-fluid">
        <p class="pull-right">
            &copy;
            <script>document.write(new Date().getFullYear())</script> Dino Notes <small>(TM)</small> &mdash; 
            <a href="/">Terms &amp; Conditions | Privacy Policy</a>
        </p>
    </div>
</footer>
