<div class="sidebar-wrapper">
    <ul class="nav">
        <li ng-repeat="note in controller.sidebar.notes">
            <a href="" ng-click="controller.sidebar.select(note.Id)">
                <i class="material-icons">{{ note.IsPinned ? 'description' : 'insert_drive_file'}}</i>
                <p>{{ note.Title }}</p>
            </a>
        </li>
    </ul>
</div>