<div class="sidebar-wrapper" ng-controller="SideBarController as controller" ng-init="controller.init()">
    <ul class="nav">
        <li ng-repeat="note in controller.notes.list">
            <a href="dashboard.html">
                <i class="material-icons">{{ note.IsPinned ? 'description' : 'insert_drive_file'}}</i>
                <p>{{ note.Title }}</p>
            </a>
        </li>
    </ul>
</div>