@{
    ViewBag.Title = "Note Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="note-box">
    <textarea class="note-textarea">
        Textarea with style example
        Line 1
        Line 2
        Line 3
        Line 4
        Line 5
        Line 6
        Line 7
        Line n
    </textarea>
</div>

