@{ Layout = null; }
@*@using SquishIt.Framework
@using SquishIt.Mvc
@model Hrms.Admin.Models.ErrorViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LCMED-HR: Error</title>
    @(Bundle.Css()
    .Add("~/Assets/libs/bootstrap/css/bootstrap.min.css")
    .Add("~/Assets/libs/font-awesome/css/font-awesome.min.css")
    .Add("~/Assets/libs/misc/ckbox-rdio.css")
    .Add("~/Assets/css/template/style.css")
    .Add("~/Assets/css/template/main.css")
    .Add("~/Assets/css/template/style-responsive.css")
    .MvcRender("~/Assets/all-min-#.css"))
</head>
<body class="fixed-left full-content pace-done">
    <div class="container">
        <div class="full-content-center error-page" style="background: transparent">
            <h1>Oops!</h1>
            <br />
            <h4>Something went wrong! Error code: <strong>@Model.StatusCode.ToString()</strong></h4>
            <br />
            <br />
            <a class="btn btn-primary btn-sm" href="/">Back to Home</a>
        </div>
    </div>
</body>
</html>*@

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Material Dashboard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="../assets/css/material-dashboard.css" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../assets/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrapper" style="height: 100%;">

        <div class="login-panel" style="margin-top: 110px;">

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">

                            <div class="card card-login">
                                <div class="card-header text-center" data-background-color="red">
                                    <h2 class="card-title">Oops!</h2>
                                </div>
                                <div class="card-content text-center">
                                    <br />
                                    <h4>Something went wrong! Error code: <strong>@Model.StatusCode.ToString()</strong></h4>
                                    <br /><br />
                                    <a class="btn btn-primary btn-sm" href="/">Back to Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright text-center">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="../assets/js/jquery-3.1.0.min.js" type="text/javascript"></script>
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="../assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<!-- Material Dashboard javascript methods -->
<script src="../assets/js/material-dashboard.js"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets/js/demo.js"></script>
</html>

